In [24]:
"""
<수집 파일이 여러개인 경우 통합 순서>
 1. 한개의 파일을 이용해서 전처리 및 추가할 컬럼 등 처리(샘플링)
 2. 1번을 반복하면서 각 파일을 처리하여 통합
"""

'\n<수집 파일이 여러개인 경우 통합 순서>\n 1. 한개의 파일을 이용해서 전처리 및 추가할 컬럼 등 처리(샘플링)\n 2. 1번을 반복하면서 각 파일을 처리하여 통합\n'

In [25]:
### 데이터 처리를 위해 판다스 라이브러리 정의하기
import pandas as pd

### 파일 한개를 이용하여 샘플링하기

In [26]:
### 샘플링에 사용할 파일 : kto_201901.xlsx 파일 사용
# 데이터프레임 변수명 : kto_201901
# 샘플링 파일 읽어들이기....
file_path = "./files2/kto_201901.xlsx"
kto_201901 = pd.read_excel(file_path,
                           header=1,
                           skipfooter=4,
                           usecols="A:G")
kto_201901

         국적      관광     상용    공용  유학/연수      기타       계
0      아시아주  765082  10837  1423  14087  125521  916950
1        일본  198805   2233   127    785    4576  206526
2        대만   86393     74    22    180    1285   87954
3        홍콩   34653     59     2     90    1092   35896
4       마카오    2506      2     0     17      45    2570
..      ...     ...    ...   ...    ...     ...     ...
62  아프리카 기타     768    718    90    206     908    2690
63     기타대륙      33      4     0      1      16      54
64     국적미상      33      4     0      1      16      54
65     교포소계       0      0     0      0   15526   15526
66       교포       0      0     0      0   15526   15526

[67 rows x 7 columns]

In [27]:
### 데이터프레임 정보 확인하기
# - 결측데이터 있는지 확인...
kto_201901.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   국적      67 non-null     object
 1   관광      67 non-null     int64
 2   상용      67 non-null     int64
 3   공용      67 non-null     int64
 4   유학/연수   67 non-null     int64
 5   기타      67 non-null     int64
 6   계       67 non-null     int64
dtypes: int64(6), object(1)
memory usage: 3.8+ KB

In [28]:
### 기초통계 확인하기
# - 이상치 데이터 확인하기
kto_201901.describe()

,관광,상용,공용,유학/연수,기타,계
count,67.00000,67.000000,67.000000,67.000000,67.000000,67.000000
mean,26396.80597,408.208955,132.507463,477.462687,5564.208955,32979.194030
std,102954.04969,1416.040302,474.406339,2009.484800,17209.438418,122821.369969
min,0.00000,0.000000,0.000000,0.000000,16.000000,54.000000
25%,505.00000,14.500000,2.500000,17.500000,260.000000,927.000000
50%,1304.00000,45.000000,14.000000,43.000000,912.000000,2695.000000
75%,8365.00000,176.500000,38.000000,182.000000,2824.500000,14905.500000
max,765082.00000,10837.000000,2657.000000,14087.000000,125521.000000,916950.000000

In [29]:
kto_201901.head(1)
### 기준년월 컬럼 추가하기 : 샘플 기준년월은 파일명에 있는 2019-01로 넣기
kto_201901["기준년월"] = "2019-01"
kto_201901

         국적      관광     상용    공용  유학/연수      기타       계     기준년월
0      아시아주  765082  10837  1423  14087  125521  916950  2019-01
1        일본  198805   2233   127    785    4576  206526  2019-01
2        대만   86393     74    22    180    1285   87954  2019-01
3        홍콩   34653     59     2     90    1092   35896  2019-01
4       마카오    2506      2     0     17      45    2570  2019-01
..      ...     ...    ...   ...    ...     ...     ...      ...
62  아프리카 기타     768    718    90    206     908    2690  2019-01
63     기타대륙      33      4     0      1      16      54  2019-01
64     국적미상      33      4     0      1      16      54  2019-01
65     교포소계       0      0     0      0   15526   15526  2019-01
66       교포       0      0     0      0   15526   15526  2019-01

[67 rows x 8 columns]

### 국적 컬럼의 데이터에서 대륙 처리하기

In [30]:
### 국적 컬럼의 데이터에서 "고유한 값"들만 조회하기
kto_201901["국적"].unique()

### 대륙이름 
# - 원본 : '아시아주', '미주', '구주', '대양주', '아프리카주', '기타대륙', '교포소계'
# - 컬럼 생성시 사용 :
#    '아시아', '아메리카', '유럽', '오세아니아', '아프리카', '기타대륙', 교포
#       25          5               23            3                 2                1           1

array(['아시아주', '일본', '대만', '홍콩', '마카오', '태국', '말레이시아', '필리핀', '인도네시아',
       '싱가포르', '미얀마', '베트남', '인도', '스리랑카', '파키스탄', '방글라데시', '캄보디아', '몽골',
       '중국', '이란', '이스라엘', '터키', '우즈베키스탄', '카자흐스탄', 'GCC', '아시아 기타', '미주',
       '미국', '캐나다', '멕시코', '브라질', '미주 기타', '구주', '영국', '독일', '프랑스',
       '네덜란드', '스웨덴', '스위스', '이탈리아', '덴마크', '노르웨이', '벨기에', '오스트리아', '스페인',
       '그리스', '포르투갈', '핀란드', '아일랜드', '우크라이나', '러시아', '크로아티아', '루마니아',
       '불가리아', '폴란드', '구주 기타', '대양주', '오스트레일리아', '뉴질랜드', '대양주 기타',
       '아프리카주', '남아프리카공화국', '아프리카 기타', '기타대륙', '국적미상', '교포소계', '교포'],
      dtype=object)

In [31]:
### 국적 데이터 중에 대륙이름이 포함되지 않는 데이터만 필터링 하기
### 대륙이름 
# - 원본 : '아시아주', '미주', '구주', '대양주', '아프리카주', '기타대륙', '교포소계'
# - 컬럼 생성시 사용 :
#    '아시아', '아메리카', '유럽', '오세아니아', '아프리카', '기타대륙', 교포
#      25              5            23             3                 2                1          1

In [32]:
### 실제 국적만 추출하기
c = kto_201901["국적"].isin(['아시아주', '미주', '구주', '대양주', 
                             '아프리카주', '기타대륙', '교포소계'])

In [33]:
kto_201901_country = kto_201901[c == False]
kto_201901_country

          국적      관광    상용    공용  유학/연수     기타       계     기준년월
1         일본  198805  2233   127    785   4576  206526  2019-01
2         대만   86393    74    22    180   1285   87954  2019-01
3         홍콩   34653    59     2     90   1092   35896  2019-01
4        마카오    2506     2     0     17     45    2570  2019-01
5         태국   34004    37   199     96   6998   41334  2019-01
6      말레이시아   19043    95     7     99   2821   22065  2019-01
7        필리핀   14279   211   161    184  15638   30473  2019-01
8      인도네시아   14183   136    38    187   4298   18842  2019-01
9       싱가포르    8372    94     8     48   1333    9855  2019-01
10       미얀마    1304    10    31     67   3877    5289  2019-01
11       베트남   10739   763   110   1667   6904   20183  2019-01
12        인도    2318  2656    46    177   3474    8671  2019-01
13      스리랑카     157    54     5     28   1043    1287  2019-01
14      파키스탄     238   178    10    193    413    1032  2019-01
15     방글라데시     149   126    27     97    848    1247  2019-01
16      캄보디아     635    39    55     51   1915    2695  2019-01
17        몽골    8358    77   304    484    562    9785  2019-01
18        중국  320113  2993   138   8793  60777  392814  2019-01
19        이란      60    45    10     23     46     184  2019-01
20      이스라엘     727    12     0      9     57     805  2019-01
21        터키     792    13    32     36    912    1785  2019-01
22    우즈베키스탄    1958   561     0    407   2828    5754  2019-01
23     카자흐스탄    2185    24     7     92   1266    3574  2019-01
24       GCC    1550    37    14     72    103    1776  2019-01
25    아시아 기타    1561   308    70    205   2410    4554  2019-01
27        미국   42989   418  2578    229  16523   62737  2019-01
28       캐나다    8034    57    30     43   4296   12460  2019-01
29       멕시코    1282    11     7     38    515    1853  2019-01
30       브라질    1136    16     9     41    403    1605  2019-01
31     미주 기타    1541    24    33    128    540    2266  2019-01
33        영국    7982   175    17     41   1933   10148  2019-01
34        독일    4925   278    19    177   1451    6850  2019-01
35       프랑스    3773   297    48    288   1168    5574  2019-01
36      네덜란드    1592    47    16     77    537    2269  2019-01
37       스웨덴     844    29     6     18     85     982  2019-01
38       스위스     613    18     0     19     97     747  2019-01
39      이탈리아    1968    83    17     40    623    2731  2019-01
40       덴마크     520    21     6     16    188     751  2019-01
41      노르웨이     552    66     4     28    151     801  2019-01
42       벨기에     490    24     4     22    169     709  2019-01
43     오스트리아     544     8     2     13    209     776  2019-01
44       스페인    1010    36    15     52    255    1368  2019-01
45       그리스     481    17     4      0    273     775  2019-01
46      포르투갈     416    14     0     13    121     564  2019-01
47       핀란드     412    23     1     18    405     859  2019-01
48      아일랜드     392    15     1      2    185     595  2019-01
49     우크라이나     593    58     3     28   1580    2262  2019-01
50       러시아   17260   181    37    191   7525   25194  2019-01
51     크로아티아     226    12     0      3    250     491  2019-01
52      루마니아     412     8     4      3    445     872  2019-01
53      불가리아     154     1     1     10    265     431  2019-01
54       폴란드     713    10     0     27    574    1324  2019-01
55     구주 기타    1809    44    25     91    996    2965  2019-01
57   오스트레일리아   12795    93    17     34   1346   14285  2019-01
58      뉴질랜드    2029    20    17      5    654    2725  2019-01
59    대양주 기타     555     3     4      0     52     614  2019-01
61  남아프리카공화국     368     9     1      6    616    1000  2019-01
62   아프리카 기타     768   718    90    206    908    2690  2019-01
64      국적미상      33     4     0      1     16      54  2019-01
66        교포       0     0     0      0  15526   15526  2019-01

In [34]:
### 눈에 보이는 인덱스 값을 순차적으로 재정의 하기
# - 주로 행을 삭제하거나, 추가하는 경우에 인덱스 값 재정의를 수행합니다.
# - drop=True : 기존 인덱스 번호를 컬럼으로 사용하지 않겠다는 의미
kto_201901_country_newindex = kto_201901_country.reset_index(drop=True)
kto_201901_country_newindex

          국적      관광    상용    공용  유학/연수     기타       계     기준년월
0         일본  198805  2233   127    785   4576  206526  2019-01
1         대만   86393    74    22    180   1285   87954  2019-01
2         홍콩   34653    59     2     90   1092   35896  2019-01
3        마카오    2506     2     0     17     45    2570  2019-01
4         태국   34004    37   199     96   6998   41334  2019-01
5      말레이시아   19043    95     7     99   2821   22065  2019-01
6        필리핀   14279   211   161    184  15638   30473  2019-01
7      인도네시아   14183   136    38    187   4298   18842  2019-01
8       싱가포르    8372    94     8     48   1333    9855  2019-01
9        미얀마    1304    10    31     67   3877    5289  2019-01
10       베트남   10739   763   110   1667   6904   20183  2019-01
11        인도    2318  2656    46    177   3474    8671  2019-01
12      스리랑카     157    54     5     28   1043    1287  2019-01
13      파키스탄     238   178    10    193    413    1032  2019-01
14     방글라데시     149   126    27     97    848    1247  2019-01
15      캄보디아     635    39    55     51   1915    2695  2019-01
16        몽골    8358    77   304    484    562    9785  2019-01
17        중국  320113  2993   138   8793  60777  392814  2019-01
18        이란      60    45    10     23     46     184  2019-01
19      이스라엘     727    12     0      9     57     805  2019-01
20        터키     792    13    32     36    912    1785  2019-01
21    우즈베키스탄    1958   561     0    407   2828    5754  2019-01
22     카자흐스탄    2185    24     7     92   1266    3574  2019-01
23       GCC    1550    37    14     72    103    1776  2019-01
24    아시아 기타    1561   308    70    205   2410    4554  2019-01
25        미국   42989   418  2578    229  16523   62737  2019-01
26       캐나다    8034    57    30     43   4296   12460  2019-01
27       멕시코    1282    11     7     38    515    1853  2019-01
28       브라질    1136    16     9     41    403    1605  2019-01
29     미주 기타    1541    24    33    128    540    2266  2019-01
30        영국    7982   175    17     41   1933   10148  2019-01
31        독일    4925   278    19    177   1451    6850  2019-01
32       프랑스    3773   297    48    288   1168    5574  2019-01
33      네덜란드    1592    47    16     77    537    2269  2019-01
34       스웨덴     844    29     6     18     85     982  2019-01
35       스위스     613    18     0     19     97     747  2019-01
36      이탈리아    1968    83    17     40    623    2731  2019-01
37       덴마크     520    21     6     16    188     751  2019-01
38      노르웨이     552    66     4     28    151     801  2019-01
39       벨기에     490    24     4     22    169     709  2019-01
40     오스트리아     544     8     2     13    209     776  2019-01
41       스페인    1010    36    15     52    255    1368  2019-01
42       그리스     481    17     4      0    273     775  2019-01
43      포르투갈     416    14     0     13    121     564  2019-01
44       핀란드     412    23     1     18    405     859  2019-01
45      아일랜드     392    15     1      2    185     595  2019-01
46     우크라이나     593    58     3     28   1580    2262  2019-01
47       러시아   17260   181    37    191   7525   25194  2019-01
48     크로아티아     226    12     0      3    250     491  2019-01
49      루마니아     412     8     4      3    445     872  2019-01
50      불가리아     154     1     1     10    265     431  2019-01
51       폴란드     713    10     0     27    574    1324  2019-01
52     구주 기타    1809    44    25     91    996    2965  2019-01
53   오스트레일리아   12795    93    17     34   1346   14285  2019-01
54      뉴질랜드    2029    20    17      5    654    2725  2019-01
55    대양주 기타     555     3     4      0     52     614  2019-01
56  남아프리카공화국     368     9     1      6    616    1000  2019-01
57   아프리카 기타     768   718    90    206    908    2690  2019-01
58      국적미상      33     4     0      1     16      54  2019-01
59        교포       0     0     0      0  15526   15526  2019-01

### 대륙 컬럼 추가하기

In [35]:
### 대륙이름 
# - 컬럼 생성시 사용 :
#    '아시아', '아메리카', '유럽', '오세아니아', '아프리카', '기타대륙', 교포
#         25           5            23           3                  2               1             1

In [36]:
### 총 국적 데이터 갯수 60개 국가
len(kto_201901_country_newindex)

60

In [37]:
### 컬럼에 추가할 대륙이름을 리스트로 생성하기
continents = ["아시아"]*25 + ["아메리카"]*5 + ["유럽"]*23 + ["오세아니아"]*3 + \
                ["아프리카"]*2 + ["기타대륙"] + ["교포"]
print(continents, len(continents))

['아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아시아', '아메리카', '아메리카', '아메리카', '아메리카', '아메리카', '유럽', '유럽', '유럽', '유럽', '유럽', '유럽', '유럽', '유럽', '유럽', '유럽', '유럽', '유럽', '유럽', '유럽', '유럽', '유럽', '유럽', '유럽', '유럽', '유럽', '유럽', '유럽', '유럽', '오세아니아', '오세아니아', '오세아니아', '아프리카', '아프리카', '기타대륙', '교포'] 60

In [38]:
### "대륙" 컬럼에 위 리스트 데이터 추가하기
kto_201901_country_newindex["대륙"] = continents
kto_201901_country_newindex

          국적      관광    상용    공용  유학/연수     기타       계     기준년월     대륙
0         일본  198805  2233   127    785   4576  206526  2019-01    아시아
1         대만   86393    74    22    180   1285   87954  2019-01    아시아
2         홍콩   34653    59     2     90   1092   35896  2019-01    아시아
3        마카오    2506     2     0     17     45    2570  2019-01    아시아
4         태국   34004    37   199     96   6998   41334  2019-01    아시아
5      말레이시아   19043    95     7     99   2821   22065  2019-01    아시아
6        필리핀   14279   211   161    184  15638   30473  2019-01    아시아
7      인도네시아   14183   136    38    187   4298   18842  2019-01    아시아
8       싱가포르    8372    94     8     48   1333    9855  2019-01    아시아
9        미얀마    1304    10    31     67   3877    5289  2019-01    아시아
10       베트남   10739   763   110   1667   6904   20183  2019-01    아시아
11        인도    2318  2656    46    177   3474    8671  2019-01    아시아
12      스리랑카     157    54     5     28   1043    1287  2019-01    아시아
13      파키스탄     238   178    10    193    413    1032  2019-01    아시아
14     방글라데시     149   126    27     97    848    1247  2019-01    아시아
15      캄보디아     635    39    55     51   1915    2695  2019-01    아시아
16        몽골    8358    77   304    484    562    9785  2019-01    아시아
17        중국  320113  2993   138   8793  60777  392814  2019-01    아시아
18        이란      60    45    10     23     46     184  2019-01    아시아
19      이스라엘     727    12     0      9     57     805  2019-01    아시아
20        터키     792    13    32     36    912    1785  2019-01    아시아
21    우즈베키스탄    1958   561     0    407   2828    5754  2019-01    아시아
22     카자흐스탄    2185    24     7     92   1266    3574  2019-01    아시아
23       GCC    1550    37    14     72    103    1776  2019-01    아시아
24    아시아 기타    1561   308    70    205   2410    4554  2019-01    아시아
25        미국   42989   418  2578    229  16523   62737  2019-01   아메리카
26       캐나다    8034    57    30     43   4296   12460  2019-01   아메리카
27       멕시코    1282    11     7     38    515    1853  2019-01   아메리카
28       브라질    1136    16     9     41    403    1605  2019-01   아메리카
29     미주 기타    1541    24    33    128    540    2266  2019-01   아메리카
30        영국    7982   175    17     41   1933   10148  2019-01     유럽
31        독일    4925   278    19    177   1451    6850  2019-01     유럽
32       프랑스    3773   297    48    288   1168    5574  2019-01     유럽
33      네덜란드    1592    47    16     77    537    2269  2019-01     유럽
34       스웨덴     844    29     6     18     85     982  2019-01     유럽
35       스위스     613    18     0     19     97     747  2019-01     유럽
36      이탈리아    1968    83    17     40    623    2731  2019-01     유럽
37       덴마크     520    21     6     16    188     751  2019-01     유럽
38      노르웨이     552    66     4     28    151     801  2019-01     유럽
39       벨기에     490    24     4     22    169     709  2019-01     유럽
40     오스트리아     544     8     2     13    209     776  2019-01     유럽
41       스페인    1010    36    15     52    255    1368  2019-01     유럽
42       그리스     481    17     4      0    273     775  2019-01     유럽
43      포르투갈     416    14     0     13    121     564  2019-01     유럽
44       핀란드     412    23     1     18    405     859  2019-01     유럽
45      아일랜드     392    15     1      2    185     595  2019-01     유럽
46     우크라이나     593    58     3     28   1580    2262  2019-01     유럽
47       러시아   17260   181    37    191   7525   25194  2019-01     유럽
48     크로아티아     226    12     0      3    250     491  2019-01     유럽
49      루마니아     412     8     4      3    445     872  2019-01     유럽
50      불가리아     154     1     1     10    265     431  2019-01     유럽
51       폴란드     713    10     0     27    574    1324  2019-01     유럽
52     구주 기타    1809    44    25     91    996    2965  2019-01     유럽
53   오스트레일리아   12795    93    17     34   1346   14285  2019-01  오세아니아
54      뉴질랜드    2029    20    17      5    654    2725  2019-01  오세아니아
55    대양주 기타     555     3     4      0     52     614  2019-01  오세아니아
56  남아프리카공화국     368     9     1      6    616    1000  2019-01   아프리카
57   아프리카 기타     768   718    90    206    908    2690  2019-01   아프리카
58      국적미상      33     4     0      1     16      54  2019-01   기타대륙
59        교포       0     0     0      0  15526   15526  2019-01     교포

### 관광객비율(%) 컬럼 추가하기

In [39]:
### 각 국가내에서 관광을 위해 입국하는 비율(%)을 계산하여 컬럼 데이터로 사용
kto_201901_country_newindex.head(2)

   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙
0  일본  198805  2233  127    785  4576  206526  2019-01  아시아
1  대만   86393    74   22    180  1285   87954  2019-01  아시아

In [40]:
### 국가별로 -> 관광을 위해 입국하는 비율 계산
kto_201901_country_newindex["관광객비율(%)"] = \
    round(kto_201901_country_newindex["관광"] / kto_201901_country_newindex["계"] * 100, 3)

In [41]:
kto_201901_country_newindex.head(2)

   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)
0  일본  198805  2233  127    785  4576  206526  2019-01  아시아    96.261
1  대만   86393    74   22    180  1285   87954  2019-01  아시아    98.225

### 전체관광객비율(%) 컬럼 추가하기

In [42]:
### 모든 국가의 전체 관광객수를 기준으로 각 국가의 관광객수로 나누어서 비율 계산
# 관광 / sum(관광)
kto_201901_country_newindex.head(3)

   국적      관광    상용   공용  유학/연수    기타       계     기준년월   대륙  관광객비율(%)
0  일본  198805  2233  127    785  4576  206526  2019-01  아시아    96.261
1  대만   86393    74   22    180  1285   87954  2019-01  아시아    98.225
2  홍콩   34653    59    2     90  1092   35896  2019-01  아시아    96.537

In [43]:
### 관광 컬럼의 모든 데이터 sum하기
t_sum = kto_201901_country_newindex["관광"].sum()
t_sum

884293

In [50]:
### 국가별 관광 비율 계산
kto_201901_country_newindex["전체관광객비율(%)"] = \
        round(kto_201901_country_newindex["관광"] / t_sum * 100, 3)

kto_201901_country_newindex.head(6)

,국적,관광,상용,공용,유학/연수,기타,계,기준년월,대륙,관광객비율(%),전체관광객비율(%)
0,일본,198805,2233,127,785,4576,206526,2019-01,아시아,96.261,22.482
1,대만,86393,74,22,180,1285,87954,2019-01,아시아,98.225,9.770
2,홍콩,34653,59,2,90,1092,35896,2019-01,아시아,96.537,3.919
3,마카오,2506,2,0,17,45,2570,2019-01,아시아,97.510,0.283
4,태국,34004,37,199,96,6998,41334,2019-01,아시아,82.266,3.845
5,말레이시아,19043,95,7,99,2821,22065,2019-01,아시아,86.304,2.153