- 포항시 교통버스카드 데이터 현황 시각화 분석

    - 데이터 수집처 : 국가 교통데이터 오픈마켓
    - 수집 URL : bigdata-transportation.kr
    - 검색어 : 포항시 BIS 교통카드 사용내역

#### 데이터 통합 전 한개의 파일로 샘플링

In [172]:
### 샘플링 할 파일 읽어 들이기 : trfcard(0) 폴더의 csv 파일 읽기
# 변수명 : df_bus_card_org

import pandas as pd

file_path1 = "./01_data_org/trfcard (0)/trfcard.csv"

### ep
df_bus_card_org = pd.read_csv(file_path1)
df_bus_card_org

,on_date,off_date,route_name,descr,age_type,trans_yn,addfee_yn,start_bstop,start_gps_x,start_gps_y,end_bstop,end_gps_x,end_gps_y
0,20200102051049,20200102051844,131,양덕-송도-시청-양학-양덕,일반,N,N,양덕차고지,129.401693,36.077258,동부초등학교,129.380866,36.062209
1,20200102051338,20200102054549,175,문덕-고속터미널-선린병원-달전,일반,N,N,문덕사거리,129.403178,35.962298,새마을금고해도지점,129.370626,36.015468
2,20200102051549,20200102051930,160,문덕-대송-송도-죽도-용흥,일반,N,N,문덕사거리,129.403442,35.962846,성우오토모티브,129.384492,35.972675
3,20200102051617,20200102055046,175,문덕-고속터미널-선린병원-달전,일반,N,N,부영사랑3차,129.402520,35.973038,오거리,129.366312,36.031816
4,20200102051841,20200102052310,102,문덕-남구청-고속터미널-북구보건소-양덕,일반,N,N,문덕온천,129.406532,35.961964,용덕사거리,129.415174,35.972826
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16180,20200102232423,20200102233802,102,문덕-남구청-고속터미널-북구보건소-양덕,일반,Y,N,죽도시장,129.365486,36.034110,문화예술회관,129.365551,36.010599
16181,20200102232449,20200102232657,200,양덕-남구청(야구장)-구룡포,일반,N,N,형산로터리,129.368470,36.011630,뱃머리 평생학습원,129.354538,36.009020
16182,20200102232849,20200102233230,500,문덕-시외터미널-흥해-청하-월포,일반,N,N,남부경찰서,129.344637,36.005408,연일전통시장,129.349210,35.997120
16183,20200102233518,20200102235624,107,문덕-시외(고속)터미널-흥해,일반,N,N,쌍용사거리,129.354637,36.015728,화이트빌라,129.406610,35.957090
16184,20200102235936,20200103000017,108,양덕-죽도-양학-시청-유강-지곡,일반,N,N,장량휴먼시아,129.384057,36.090840,법원검찰청,129.387075,36.090211

In [173]:
### 데이터 정보확인
# 결측 데이터 유무 확인

df_bus_card_org.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16185 entries, 0 to 16184
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   on_date      16185 non-null  int64
 1   off_date     16185 non-null  int64
 2   route_name   16185 non-null  object
 3   descr        16185 non-null  object
 4   age_type     16164 non-null  object
 5   trans_yn     16185 non-null  object
 6   addfee_yn    16185 non-null  object
 7   start_bstop  16185 non-null  object
 8   start_gps_x  16185 non-null  float64
 9   start_gps_y  16185 non-null  float64
 10  end_bstop    16185 non-null  object
 11  end_gps_x    16185 non-null  float64
 12  end_gps_y    16185 non-null  float64
dtypes: float64(4), int64(2), object(7)
memory usage: 1.6+ MB

In [174]:
### 기초통계 확인 (이상치 확인)
df_bus_card_org.describe()

,on_date,off_date,start_gps_x,start_gps_y,end_gps_x,end_gps_y
count,1.618500e+04,1.618500e+04,16185.000000,16185.000000,16185.000000,16185.000000
mean,2.020010e+13,2.020010e+13,129.369118,36.034985,129.368939,36.031927
std,4.127644e+04,4.175148e+04,0.048054,0.043280,0.040777,0.033987
min,2.020010e+13,2.020010e+13,129.052958,35.804119,129.052958,35.804119
25%,2.020010e+13,2.020010e+13,129.350290,36.012537,129.353856,36.013250
50%,2.020010e+13,2.020010e+13,129.365461,36.031720,129.365281,36.034110
75%,2.020010e+13,2.020010e+13,129.383462,36.064088,129.370823,36.046050
max,2.020010e+13,2.020010e+13,129.578137,36.254158,129.578137,36.244762

#### 데이터 처리 순서

- 1. 데이터 수집
- 2. 샘플 데이터 읽어들여서 정보 확인 (전처리 : 결측, 중복, 이상치 데이터 처리)
- 3. 컬럼명 확인 후 변경할지 말지 결정 (분석가 마음)
- 4. 컬럼들의 조합을 통해 확인 가능한 소주제들 추출 (분석가 마음)
- 5. 소주제 분석에 필요한 컬럼 생성(가공하기)
- 6. 모든 데이터 통합하기 (2~5번 반복)
- 7. 통합 데이터 파일로 저장 (원본 폴더와 통합 폴더를 보통 분리해서 자장시킴 )
- 8. 통합 데이터를 이용해서 탐색적 데이터 분석(EDA) > 보통 시각화와 함께 분석

- ** ETL

#### 영문 컬럼 이름을 한글명으로 변경하기

- 컬럼명 변경 순서
    - 1. 메타정의서에서 영문 및 한글 데이터가 있는 파일 읽어들이기
    - 2. 읽어들인 데이터를 딕셔너리 형태로 변환
    - 3. 데이터 프레임의 컬럼명 변경하기 -> rename(딕셔너리 변수) 함수 사용

In [175]:
df_bus_card_org.head(1)

,on_date,off_date,route_name,descr,age_type,trans_yn,addfee_yn,start_bstop,start_gps_x,start_gps_y,end_bstop,end_gps_x,end_gps_y
0,20200102051049,20200102051844,131,양덕-송도-시청-양학-양덕,일반,N,N,양덕차고지,129.401693,36.077258,동부초등학교,129.380866,36.062209

In [176]:
### 1. 메타 정의서에서 [영문] 및 [한글] 데이터가 있는 파일 읽어들이기
# - 읽어들일 컬럼명 : 컬럼명(영문), 컬럼명(한글) 2개만
# - 변수명 : df_bus_card_col_org

file_path2 = "./01_data_org/trfcard (0)/trfcard_columns.xlsx"

df_bus_card_col_org = pd.read_excel(file_path2,
                           header=2,
                           usecols="B:C")

df_bus_card_org.info() ## 컬럼 갯수 동일한지 확인
df_bus_card_col_org

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16185 entries, 0 to 16184
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   on_date      16185 non-null  int64
 1   off_date     16185 non-null  int64
 2   route_name   16185 non-null  object
 3   descr        16185 non-null  object
 4   age_type     16164 non-null  object
 5   trans_yn     16185 non-null  object
 6   addfee_yn    16185 non-null  object
 7   start_bstop  16185 non-null  object
 8   start_gps_x  16185 non-null  float64
 9   start_gps_y  16185 non-null  float64
 10  end_bstop    16185 non-null  object
 11  end_gps_x    16185 non-null  float64
 12  end_gps_y    16185 non-null  float64
dtypes: float64(4), int64(2), object(7)
memory usage: 1.6+ MB

       컬럼명 (영문)     컬럼명 (한글)
0       on_date         승차시각
1      off_date         하차시각
2    route_name          노선명
3         descr         노선설명
4      age_type         승객연령
5      trans_yn         환승여부
6     addfee_yn       추가운임여부
7   start_bstop        승차정류장
8   start_gps_x  승차정류장 GPS X
9   start_gps_y  승차정류장 GPS Y
10    end_bstop        하차정류장
11    end_gps_x  하차정류장 GPS X
12    end_gps_y  하차정류장 GPS Y

In [177]:
#### 2. 읽어들인 데이터를 딕셔너리 형태로 변환
# - key는 컬럼명(영문)
# - value는 컬럼명(한글)
# - 딕셔너리 변수명 : df_bus_card_col_dict
# - 결과 형태 : {'on_date' : "승차시각", 'off_date' : "하차시각", ... }

# 매칭 시킬 값 확인
# df_bus_card_col_org['컬럼명 (영문)'][1], df_bus_card_col_org['컬럼명 (한글)'][1]

# 빈 딕셔너리 생성
df_bus_card_col_dict = { }

# 각 행을 순차적으로 돌면서 영문 컬럼명과 한글 컬럼명으로 딕셔너리 생성
for i in range(len(df_bus_card_col_org)):
    # df_bus_card_col_org의 첫 번째 컬럼 (영문)과 두 번째 컬럼 (한글) 접근
    df_bus_card_col_dict[df_bus_card_col_org['컬럼명 (영문)'][i]] = df_bus_card_col_org['컬럼명 (한글)'][i]
    
df_bus_card_col_dict

{'on_date': '승차시각',
 'off_date': '하차시각',
 'route_name': '노선명',
 'descr': '노선설명',
 'age_type': '승객연령',
 'trans_yn': '환승여부',
 'addfee_yn': '추가운임여부',
 'start_bstop': '승차정류장',
 'start_gps_x': '승차정류장 GPS X',
 'start_gps_y': '승차정류장 GPS Y',
 'end_bstop': '하차정류장',
 'end_gps_x': '하차정류장 GPS X',
 'end_gps_y': '하차정류장 GPS Y'}

In [178]:
## 다른 방법

# zip(리스트1, 리스트2, ... 리스트n) : 모든 리스트의 갯수는 같아야 함
# - 각 리스트의 인덱스끼리 하나의 튜플로 묶는 작업
# - zip([a : a1], [b : b2]...)
# 결과 : [[a : b], [a1: b1], ... [an : bn]]

for k, v in zip(df_bus_card_col_org["컬럼명 (영문)"], df_bus_card_col_org["컬럼명 (한글)"]) :
    df_bus_card_col_dict[k] = v

df_bus_card_col_dict

{'on_date': '승차시각',
 'off_date': '하차시각',
 'route_name': '노선명',
 'descr': '노선설명',
 'age_type': '승객연령',
 'trans_yn': '환승여부',
 'addfee_yn': '추가운임여부',
 'start_bstop': '승차정류장',
 'start_gps_x': '승차정류장 GPS X',
 'start_gps_y': '승차정류장 GPS Y',
 'end_bstop': '하차정류장',
 'end_gps_x': '하차정류장 GPS X',
 'end_gps_y': '하차정류장 GPS Y'}

In [179]:
### 코드 줄이기

# zip() 함수 사용
df_bus_card_col_dict = {
    k : v for k, v in zip(df_bus_card_col_org["컬럼명 (영문)"],
                                 df_bus_card_col_org["컬럼명 (한글)"])}

df_bus_card_col_dict

{'on_date': '승차시각',
 'off_date': '하차시각',
 'route_name': '노선명',
 'descr': '노선설명',
 'age_type': '승객연령',
 'trans_yn': '환승여부',
 'addfee_yn': '추가운임여부',
 'start_bstop': '승차정류장',
 'start_gps_x': '승차정류장 GPS X',
 'start_gps_y': '승차정류장 GPS Y',
 'end_bstop': '하차정류장',
 'end_gps_x': '하차정류장 GPS X',
 'end_gps_y': '하차정류장 GPS Y'}

In [180]:
# 다른 방법

# to_numpy() : 데이터 프레임을 행렬의 리스트 형태로 변환하는 함수
# zip()의 구조와 유사 
# 왼쪽값을 key, 오른쪽 값을 value로 사용함

df_bus_card_col_dict = dict(df_bus_card_col_org.to_numpy())

df_bus_card_col_dict

{'on_date': '승차시각',
 'off_date': '하차시각',
 'route_name': '노선명',
 'descr': '노선설명',
 'age_type': '승객연령',
 'trans_yn': '환승여부',
 'addfee_yn': '추가운임여부',
 'start_bstop': '승차정류장',
 'start_gps_x': '승차정류장 GPS X',
 'start_gps_y': '승차정류장 GPS Y',
 'end_bstop': '하차정류장',
 'end_gps_x': '하차정류장 GPS X',
 'end_gps_y': '하차정류장 GPS Y'}

In [181]:
### 3. 원본 데이터 프레임의 컬럼명 변경하기 -> rename(columns=딕셔너리 변수) 함수 사용
# - 현재까지 원본 데이터 프레임 변수명 : df_bus_card_org
# - 결과 데이터 프레임 변수명 : df_bus_card_kor

df_bus_card_kor = df_bus_card_org.rename(columns=df_bus_card_col_dict)

df_bus_card_kor.head(1)

,승차시각,하차시각,노선명,노선설명,승객연령,환승여부,추가운임여부,승차정류장,승차정류장 GPS X,승차정류장 GPS Y,하차정류장,하차정류장 GPS X,하차정류장 GPS Y
0,20200102051049,20200102051844,131,양덕-송도-시청-양학-양덕,일반,N,N,양덕차고지,129.401693,36.077258,동부초등학교,129.380866,36.062209

#### 4. 컬럼들의 조합을 통해 확인 가능한 소주제들

In [182]:
### 데이터 탐색

# - unique() : 고유한 값만 추출
df_bus_card_kor["승객연령"].unique()

array(['일반', '청소년', nan, '어린이'], dtype=object)

##### 주제도출

- 1. 버스 이용량 분석 (필요한 컬럼 : 연도, 월, 일, 시간, 분, 승객연령, count 집계)
        - 연간 버스 이용량 분석
            - 수집된 데이터 확인 결과 2020년 1개년도만 있기에 분석에서 제외하기로 함
        - 월별 vs 일자별 버스 이용량 현황 분석
        - 일자별 vs 시간별 버스 이용량 현황 분석
        - 시간별 vs 분변 버스 이용량 현황 분석

- 2. 버스 내 체류시간 분석 (필요한 컬럼 : 체류시간(새로 생성 예정))
        - 체류시간 = 하차시각 - 승차시각

- 3. 버스 승하차 구간별 버스내 체류시간 분석(필요한 컬럼 : 승하차구간)
        - 체류시간이 높은 구간을 기준으로 내림차순 정렬 하여 급행 도입 가능한 구간 확인

- ** 위 소주제별로 필요한 컬럼들은 데이터 프레임에 컬럼을 추가하여 사용

In [183]:
df_bus_card_kor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16185 entries, 0 to 16184
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   승차시각         16185 non-null  int64
 1   하차시각         16185 non-null  int64
 2   노선명          16185 non-null  object
 3   노선설명         16185 non-null  object
 4   승객연령         16164 non-null  object
 5   환승여부         16185 non-null  object
 6   추가운임여부       16185 non-null  object
 7   승차정류장        16185 non-null  object
 8   승차정류장 GPS X  16185 non-null  float64
 9   승차정류장 GPS Y  16185 non-null  float64
 10  하차정류장        16185 non-null  object
 11  하차정류장 GPS X  16185 non-null  float64
 12  하차정류장 GPS Y  16185 non-null  float64
dtypes: float64(4), int64(2), object(7)
memory usage: 1.6+ MB

##### 소주제들에 필요한 컬럼 추가하기

In [184]:
### 추가 컬럼 : 년, 월, 일, 시간, 분, 승객연령, 체류시간, 승하차구간(승차 + 하차 정류장)

## 냔, 월 ,일 ,시간, 분 -> 승차시각 데이터에서 추출
# - 승차시각 데이터 타입이 int ->  추출을 위해 str 타입으로 변환
# str 타입을 다시 날짜 타입으로 변환하여 필요한 값 추출

# - 변수 타입 변경(형변환) 함수 : int(), float(), str(), list(), dict(), tuple()
# - 데이터 프레임의 데이터 타입 변경 함수 : astype()

In [185]:
### 승차시각 데이터를 문자 타입(object)으로 변환하기

df_bus_card_kor = df_bus_card_kor.astype({"승차시각" : str, "하차시각" : str})
df_bus_card_kor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16185 entries, 0 to 16184
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   승차시각         16185 non-null  object
 1   하차시각         16185 non-null  object
 2   노선명          16185 non-null  object
 3   노선설명         16185 non-null  object
 4   승객연령         16164 non-null  object
 5   환승여부         16185 non-null  object
 6   추가운임여부       16185 non-null  object
 7   승차정류장        16185 non-null  object
 8   승차정류장 GPS X  16185 non-null  float64
 9   승차정류장 GPS Y  16185 non-null  float64
 10  하차정류장        16185 non-null  object
 11  하차정류장 GPS X  16185 non-null  float64
 12  하차정류장 GPS Y  16185 non-null  float64
dtypes: float64(4), object(9)
memory usage: 1.6+ MB

In [186]:
pd.to_datetime(df_bus_card_kor["승차시각"])

0       2020-01-02 05:10:49
1       2020-01-02 05:13:38
2       2020-01-02 05:15:49
3       2020-01-02 05:16:17
4       2020-01-02 05:18:41
                ...
16180   2020-01-02 23:24:23
16181   2020-01-02 23:24:49
16182   2020-01-02 23:28:49
16183   2020-01-02 23:35:18
16184   2020-01-02 23:59:36
Name: 승차시각, Length: 16185, dtype: datetime64[ns]

In [187]:
#### 승하차시각 데이터를 날짜 타입으로 변환하기
# - 날짜 타입으로 변환할 때는 형변환 형태가 아닌 (astype 함수 사용 안함) 날짜 라이브러리를 이용해서 값을 변환 후 넣어야 함
# - 날짜 라이브러리 : 데이터 프레임에서 제공하는 to_datetime() 함수 사용
# - 날짜 포멧 형태 : 전제 조건은 문자열인 경우
# yyyymmddhhmmss  //  yyyy-mm-dd hh:mm:ss // yyyy.mm.dd hh:mm:ss // yymmddhhmmss // yyyy/mm/dd hh:mm:ss

df_bus_card_kor["승차시각"] = pd.to_datetime(df_bus_card_kor["승차시각"])
df_bus_card_kor["하차시각"] = pd.to_datetime(df_bus_card_kor["하차시각"])

df_bus_card_kor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16185 entries, 0 to 16184
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   승차시각         16185 non-null  datetime64[ns]
 1   하차시각         16185 non-null  datetime64[ns]
 2   노선명          16185 non-null  object
 3   노선설명         16185 non-null  object
 4   승객연령         16164 non-null  object
 5   환승여부         16185 non-null  object
 6   추가운임여부       16185 non-null  object
 7   승차정류장        16185 non-null  object
 8   승차정류장 GPS X  16185 non-null  float64
 9   승차정류장 GPS Y  16185 non-null  float64
 10  하차정류장        16185 non-null  object
 11  하차정류장 GPS X  16185 non-null  float64
 12  하차정류장 GPS Y  16185 non-null  float64
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 1.6+ MB

In [188]:
#### 원본 사용하지 않고, 새로운 데이터 프레임에 필요한 컬럼들만 별도 가공
# - 변수명 : df_bus_card
# - 별도 관리 컬럼 : 승차시각, 하차시각, 승객연령, 승차정류장, 하차정류장

df_bus_card = df_bus_card_kor[["승차시각","하차시각", "승객연령", "승차정류장", "하차정류장"]].copy()

df_bus_card.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16185 entries, 0 to 16184
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   승차시각    16185 non-null  datetime64[ns]
 1   하차시각    16185 non-null  datetime64[ns]
 2   승객연령    16164 non-null  object
 3   승차정류장   16185 non-null  object
 4   하차정류장   16185 non-null  object
dtypes: datetime64[ns](2), object(3)
memory usage: 632.4+ KB

In [189]:
### 년, 월, 일, 시, 분 컬럼 추가하기

df_bus_card["기준년도"] = df_bus_card["승차시각"].dt.year
df_bus_card["기준월"] = df_bus_card["승차시각"].dt.month
df_bus_card["기준일"] = df_bus_card["승차시각"].dt.day
df_bus_card["기준시간"] = df_bus_card["승차시각"].dt.hour
df_bus_card["기준분"] = df_bus_card["승차시각"].dt.minute

df_bus_card.head(5)

,승차시각,하차시각,승객연령,승차정류장,하차정류장,기준년도,기준월,기준일,기준시간,기준분
0,2020-01-02 05:10:49,2020-01-02 05:18:44,일반,양덕차고지,동부초등학교,2020,1,2,5,10
1,2020-01-02 05:13:38,2020-01-02 05:45:49,일반,문덕사거리,새마을금고해도지점,2020,1,2,5,13
2,2020-01-02 05:15:49,2020-01-02 05:19:30,일반,문덕사거리,성우오토모티브,2020,1,2,5,15
3,2020-01-02 05:16:17,2020-01-02 05:50:46,일반,부영사랑3차,오거리,2020,1,2,5,16
4,2020-01-02 05:18:41,2020-01-02 05:23:10,일반,문덕온천,용덕사거리,2020,1,2,5,18

In [190]:
df_bus_card.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16185 entries, 0 to 16184
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   승차시각    16185 non-null  datetime64[ns]
 1   하차시각    16185 non-null  datetime64[ns]
 2   승객연령    16164 non-null  object
 3   승차정류장   16185 non-null  object
 4   하차정류장   16185 non-null  object
 5   기준년도    16185 non-null  int32
 6   기준월     16185 non-null  int32
 7   기준일     16185 non-null  int32
 8   기준시간    16185 non-null  int32
 9   기준분     16185 non-null  int32
dtypes: datetime64[ns](2), int32(5), object(3)
memory usage: 948.5+ KB

In [191]:
#### "버스내체류시간(분)" 컬럼 추가
# - (하차시각 - 승차시각)을 분단위로 계산해서 처리
# -> 뺀 값을 초단위로 변환 -> 60으로 나눠주기

df_bus_card["버스내체류시간(분)"] = \
    round((df_bus_card["하차시각"] - df_bus_card["승차시각"]).dt.total_seconds() / 60, 2)

df_bus_card.head(2)

,승차시각,하차시각,승객연령,승차정류장,하차정류장,기준년도,기준월,기준일,기준시간,기준분,버스내체류시간(분)
0,2020-01-02 05:10:49,2020-01-02 05:18:44,일반,양덕차고지,동부초등학교,2020,1,2,5,10,7.92
1,2020-01-02 05:13:38,2020-01-02 05:45:49,일반,문덕사거리,새마을금고해도지점,2020,1,2,5,13,32.18

In [192]:
#### 승하차구간 컬럼 추가하기
# - 승하차구간 = 승차정류장 + "->" + 하차정류장

df_bus_card["승하차구간"] = \
    df_bus_card_kor["승차정류장"] + " -> " + df_bus_card_kor["하차정류장"]

df_bus_card.head(2)

,승차시각,하차시각,승객연령,승차정류장,하차정류장,기준년도,기준월,기준일,기준시간,기준분,버스내체류시간(분),승하차구간
0,2020-01-02 05:10:49,2020-01-02 05:18:44,일반,양덕차고지,동부초등학교,2020,1,2,5,10,7.92,양덕차고지 -> 동부초등학교
1,2020-01-02 05:13:38,2020-01-02 05:45:49,일반,문덕사거리,새마을금고해도지점,2020,1,2,5,13,32.18,문덕사거리 -> 새마을금고해도지점

In [193]:
### 기준년도가 몇년치 데이터가 있는지 확인하기 (고유한 값 확인)
# - 파일 모두 통합 후에 -> 다시 한번 년도 확인 필요
# - 년도가 1개년도만 있는 경우에는 연도별 비교 대상이 없으므로, 분석에서 제외

df_bus_card["기준년도"].unique()

array([2020])

In [194]:
df_bus_card["기준년도"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 16185 entries, 0 to 16184
Series name: 기준년도
Non-Null Count  Dtype
--------------  -----
16185 non-null  int32
dtypes: int32(1)
memory usage: 63.4 KB

#### 모든 파일 하나의 데이터 프레임으로 통합하기

In [195]:
### 통합 후 총 데이터 건수 : 842,608건
# - 통합에 사용할 데이터 프레임 변수명 : df_bus_card_tot
# - 깨끗한 데이터 프레임 생성  : pd.DataFrame()

In [196]:
import os
import pandas as pd

# 파일 경로
root = os.getcwd()
dir_nm = os.listdir(root)[0] # 01_data_org
file_list = os.listdir(dir_nm) # 01_data_org 안에 폴더 trfcard (0)

dir_nm

'01_data_org'

In [209]:
import os
import pandas as pd

### 깨끗한 데이터프레임 정의하기
df_bus_card_tot = pd.DataFrame()

# 영문 컬럼명 -> 한글 컬럼명 정의
file_path2 = "./01_data_org/trfcard (0)/trfcard_columns.xlsx"

df_bus_card_col_org = pd.read_excel(file_path2,
                           header=2,
                           usecols="B:C")

#딕셔너리 형태로 저장 생성
df_bus_card_col_dict = dict(df_bus_card_col_org.to_numpy())


### file_list 만큼 반복하기
for file_nm in file_list :
    ### 파일 경로 정의하기
    file_path = f"./{dir_nm}/{file_nm}/trfcard.csv"
    # print(file_path) 

    try : 
        # 데이터 프레임의 컬럼명 변경하기
        df_bus_card_org = pd.read_csv(file_path)
        df_bus_card_kor = df_bus_card_org.rename(columns=df_bus_card_col_dict)
        # print(df_bus_card_kor) # rename 잘 됐는지 확인 
        
        # 승차시각 데이터를 문자 타입(object)으로 변환하기
        df_bus_card_kor = df_bus_card_kor.astype({"승차시각" : str, "하차시각" : str})

        # 승하차시각 데이터를 날짜 타입으로 변환하기
        df_bus_card_kor["승차시각"] = pd.to_datetime(df_bus_card_kor["승차시각"])
        df_bus_card_kor["하차시각"] = pd.to_datetime(df_bus_card_kor["하차시각"])

        # 원본 사용하지 않고, 새로운 데이터 프레임에 필요한 컬럼들만 별도 가공
        df_bus_card = df_bus_card_kor[["승차시각","하차시각", "승객연령", "승차정류장", "하차정류장"]].copy()

        # 년, 월, 일, 시, 분 컬럼 추가하기
        df_bus_card["기준년도"] = df_bus_card["승차시각"].dt.year
        df_bus_card["기준월"] = df_bus_card["승차시각"].dt.month
        df_bus_card["기준일"] = df_bus_card["승차시각"].dt.day
        df_bus_card["기준시간"] = df_bus_card["승차시각"].dt.hour
        df_bus_card["기준분"] = df_bus_card["승차시각"].dt.minute

        # "버스내체류시간(분)" 컬럼 추가
        df_bus_card["버스내체류시간(분)"] = \
            round((df_bus_card["하차시각"] - df_bus_card["승차시각"]).dt.total_seconds() / 60, 2)

        # 승하차구간 컬럼 추가하기
        df_bus_card["승하차구간"] = \
            df_bus_card_kor["승차정류장"] + " -> " + df_bus_card_kor["하차정류장"]

        # 원본 df 데이터프레임에 위 데이터프레임 행단위 추가하기
        df_bus_card_tot = pd.concat([df_bus_card_tot, df_bus_card], ignore_index=True)

    except : 
        print("오류가 발생했습니다.")
        break

#### 통합한 데이터 프레임 파일로 저장

In [210]:
# 저장 폴더 : 02_data_all
# 저장 파일 : df_bus_card_tot.csv

In [211]:
### 통합본 파일로 저장하기
save_path = "./02_data_all/df_bus_card_tot.csv"
df_bus_card_tot.to_csv(save_path, index=False)

In [212]:
### 저장된 파일 읽고 재확인

file_path3 = "./02_data_all/df_bus_card_tot.csv"
fin = pd.read_csv(file_path3)

len(fin)

842608